<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Product List</title>
</head>

<body>
    <h1>Random Product List</h1>

    <div class="card-container">
        {% for product in products %}
        <a href="{{ url_for('product_details', product_id=product['id']) }}">
            <div class="card">
                <img src="{{ url_for('static', filename=product['paths']) }}" alt="Product Image {{ product['id'] }}">
                <p>Product Name: {{ product['productDisplayName'] }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</body>

</html>